* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}

.btn {
  width: 100%;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
  background: rgb(224, 224, 224);
  padding: 15px;
  border-radius: 5px;
  margin: 5px;
}

.btn:hover:not([disabled]) {
  background-color: rgb(24, 124, 231);
  color: aliceblue;
}
.btn:active.btn:hover:not([disabled]) {
  background-color: rgb(247, 247, 247);
  color: #222;
}
.correct {
  background-color: rgb(133, 241, 133);
  color: #222;
}

.incorrect {
  background-color: rgb(244, 147, 147);
  color: #222;
}

.btn:disabled {
  cursor: not-allowed;
}
